{{/* -*- mode: web -*- -*- engine: go -*- */}}
<article class="post">
<header>
<h2><a target="_blank" href="{{ .RelPermalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a> </h2>
<div class="post-meta">
  <span data-localize="date.{{ .Date.Format "Monday" }}">{{.Date.Format "Monday" }}</span>,
  {{ .Date.Format "2006-01-02" }} - <span data-localize="summary.readin">Read in</span>
  {{ .ReadingTime }}
  {{ if eq .ReadingTime 1 }} <span data-localize="summary.minute">minute</span>
  {{ else }} <span data-localize="summary.minutes">minutes</span> {{end }}
</div>
</header>
<div class="summary">
    {{ .Summary }}
</div>
{{ if .Truncated }}
<footer>
  <a target="_blank" href='{{ .RelPermalink }}'><nobr data-localize="summary.readmore">Read more →</nobr></a>
</footer>
{{ end }}
{{ partial "tags.html" .}}
</article>
 
