    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div class="post">
                    <h1>{{ .Title }}</h1>
                    <span data-localize="date.{{ .Date.Format "Monday" }}" class="post-date">
                      {{ .Date.Format "Monday" }}</span>,
                    <span class="post-date">{{ .Date.Format "2006-01-2" }}</span>
                    {{ .Content }}
                </div>
                {{ partial "sharing.html" .}}
                {{ partial "comments.html" .}}
            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
