{{/* -*- mode: web -*- -*- engine: go -*- */}}
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
    <nav role="pagination">
	{{ if .Paginator.HasPrev }}
	    <a href="{{.Paginator.Prev.URL}}{{if eq .Paginator.Prev.PageNumber 1}}#blog{{end}}"
               class="pagination__newer">
		<i class="fa fa-angle-double-left"></i>&nbsp;Newer
	    </a>
	{{ end }}
	<span class="pagination__page-number">Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}</span>
	{{ if .Paginator.HasNext }}
	    <a href="{{.Paginator.Next.URL}}"
               class="pagination__older">
		Older&nbsp;<i class="fa fa-angle-double-right"></i>
	    </a>
	{{ end }}
    </nav>
</div>
{{ end }}
