{{/* -*- mode: web -*- -*- engine: go -*- */}}
{{ partial "head.html" . }}
<body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
	<div class="content-wrapper__inner">
	    <section id="main">
		<div>
		    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 10 }}
		    {{ partial "pagination.html" . }}
		    {{ range $paginator.Pages }}
			{{ .Render "summary"}}
		    {{ end }}
		    {{ partial "pagination.html" . }}
		</div>
		<br/>
		<h4>
		    <a data-localize="sidebar.archive" href="{{ .Site.BaseURL }}/post/">Archive</a>
		</h4>
	    </section>
	</div>
    </div>
    {{ partial "footer.html" .}}
    {{ partial "script.html" .}}
</body>
</html>
