$white:             #FFFFFF;

$gray-lightest:     #F8F8F8;
$gray-lighter:      #EEEEEE;
$gray-light:        #DDDDDD;
$gray:              #CCCCCC;
$gray-dark:         #999999;
$gray-darker:       #666666;
$gray-darkest:      #333333;

$green:             #156F78;
$purple:            #493252;
$red:               #E25440;
$slate:             #3D4260;

$primary-color:     $slate;
$secondary-color:   #5BA4E5;

$link-color:        $primary-color;
$hover-color:       darken($link-color, 15%);

//$sans-font:        'Ubuntu', sans-serif;
//$sans-font:         'Source Sans Pro', sans-serif;
$sans-font:         'Open Sans', sans-serif;
//$serif-font:        'Source Serif Pro', serif;
//$serif-font:        'Montserrat', serif;
$serif-font:        'Nunito', serif;

$border-radius:     3px;

$h1-font-size: 2.0em; /* 2.8em */
$h2-font-size: 1.8em; /* 2.1em */
$h3-font-size: 1.4em; /* 1.8em */
$h4-font-size: 1.2em; /* 1.4em */
$h5-font-size: 1.1em; /* 1.2em */
$h6-font-size: 1em;
